a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.center {
  padding-left: calc(50% - 585px);
  padding-right: calc(50% - 585px);
}

.home__page {
  background: #e9e9ef 50%;
}

.meun__bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* gap: 480px; */
  padding-top: 40px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.intro {
  padding-top: 89px;
  padding-bottom: 162px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  /* gap: 41px; */

}

.title {
  width: 522px;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subtitle {
  width: 466px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 17px;
}

.button_meta {
  margin-top: 37px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 72px;
}

.btn {
  width: 140px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #F25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);

}

.video {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 11px;

}

.watch__video {
  color: #AAA;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.intro__image {
  /* flex-shrink: 1; */
  background: url(<path-to-image>), #e9e9ef 50%;
}

.image__1 {
  width: auto;
  height: auto;
  /* flex-shrink: 2; */
  background: url(<path-to-image>), #e9e9ef 50% / cover no-repeat;
}

.center__brand {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.brand {
  padding-top: 97px;
  padding-bottom: 96px;
  background: url(<path-to-image>), #e9e9ef 50% / cover no-repeat;
}

.brand__logo {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px;

}

.brand__1 {
  width: 160px;
  height: 50px;
  flex-shrink: 0;
  /* background: url(<path-to-image>), #e9e9ef 50% / cover no-repeat; */
}